.jumbotron {
	background-color: yellow;
	color: black;
	margin-top: 50px;
}

footer {
	padding: 10px 10px 0px 10px;
	background-color: yellow;
	margin-top: 10px;
	margin-bottom: 0px;
}

.seccion-secundaria{
	flex: 1 200px;
	padding: 2px 0px 2px 0px;
	margin-top: 10px;
}

.btn-info{
	width: 100%;
	border-radius: 0px;
	/* position: absolute; */
	/* left: 0; */
	/* bottom: 0; */
}

.footer-addres-icon{
	padding-right: 10px;
}

.tab-content{
	margin-top: 10px;
}
