$yellow: #ffffff;
$red: #ff0000;
$green: #00cc66;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

.jumbotron {
	background-color: $yellow;
	color: black;
	@include margenes(50px, 10px);
}

footer {
	padding: 10px 10px 0px 10px;
	background-color: $green;
	@include margenes(10px, 0px);
}

.seccion-secundaria{
	flex: 1 200px;
	padding: 2px 0px 2px 0px;
	@include margenes(10px, 0px);
}

.btn-info{
	width: 100%;
	border-radius: 0px;
	/* position: absolute; */
	/* left: 0; */
	/* bottom: 0; */
}

.footer-addres-icon{
	padding-right: 10px;
}

.tab-content{
	padding-top: 10px;
}
