.jumbotron {
  background-color: #000000;
  color: black;
  margin-top: 50px;
  margin-bottom: 10px; }

footer {
  padding: 10px 10px 0px 10px;
  background-color: #00cc66;
  margin-top: 10px;
  margin-bottom: 0px; }

.seccion-secundaria {
  flex: 1 200px;
  padding: 2px 0px 2px 0px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-info {
  width: 100%;
  border-radius: 0px;
  /* position: absolute; */
  /* left: 0; */
  /* bottom: 0; */ }

.footer-addres-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }
